.dark, .dark * {
    -font-color: #ccc;
    -control-color: #aaa;
    -prompt-font-color: #444;
    -back: #191919;
    -selected-back: rgba(255, 255, 255, .05);
    -menu-back: #303030;
    -offset-back: #262626;
    -scroll-back: #666;
    -armed-back: #353535;
    -cell-back: #5b5454;
	-button-back: #2b2b2b;
    -border-cell: #aaa;
    -border: #7a7a7a;
    -menu-border: #666;
	-armed-border: #aaa;

	-scroll-fill: #555;
	-thumb: #222;

    -corner: #000;
    -selected: #112266;
    -filler-start: #292929;
    -filler-end: #131313;
}
