html {
	background-color:#fff;
	color:black;
	/*margin-right: 20px;*/
}

.instance-icon, .instance-creator {
	background-color: #ccc;
}
.selected > * {background-color: rgba(0, 0, 0, .1)}
img {
    max-width:100%;
    max-height: 100%;
}
a {
    color:#ff9000;
    text-decoration:none;
}
a:visited {color:#544316;}