.light, .light * {
    -font-color: black;
    -control-color: black;
    -prompt-font-color: #444;
    -back: #fff;
    -selected-back: rgba(0, 0, 0, 0.1);
    -menu-back: #eee;
    -offset-back: #ccc;
    -scroll-back: lightgray;
    -armed-back: #ddd;
    -cell-back: white;
	-button-back: #eee;
    -border-cell: #333;
    -border: #121212;
    -menu-border: #666;
	-armed-border: #080808;

	-scroll-fill: #bbb;
	-thumb: #bababa;

    -corner: white;
    -selected: #eee;
    -filler-start: #e7e7e7;
    -filler-end: #efefef;

}