html {
	background-color:#191919;
	color:#ccc;
	/*margin-right: 20px;*/
}

.instance-icon, .instance-creator {
	background-color: #262626;
}
.selected > * {background-color: rgba(255, 255, 255, .05)}
img {
    max-width:100%;
    max-height: 100%;
}
a {
    color:#ff9000;
    text-decoration:none;
}
a:visited {color:#544316;}