* {
	-fx-font-family: 'FiraCode-Regular';
	-fx-text-fill: -font-color;
}

.root, .stack-pane, .viewport {
    -fx-background-color: -back;
    -fx-padding: 0;
}

.control, .text-field, .choice-box {
	-fx-text-fill: -control-color;
	-fx-prompt-text-fill: -prompt-font-color;
	-fx-background-color: -back;
	-fx-border-width: 0 0 2 0;
	-fx-border-color: -border;
}

.choice-box .arrow, .choice-box .arrow-button {
	-fx-background-color: transparent;
}

.instances {
	-fx-background-color: -offset-back;
}

.menu-bar, .context-menu, .text-area .content {
	-fx-background-color: -menu-back;
	-fx-border-color:rgba(0,0,0,0) rgba(0,0,0,0) -border rgba(0,0,0,0);
}

.menu-bar {
	-fx-padding: 0;
}

.bordered {
	-fx-border-width: 1px 1px 1px 1px;
	-fx-border-color: -border;
}

#instancesContainer {
	-fx-padding: 5 5 5 5;
}

.scroll-pane {
	-fx-background-color:transparent;
}

.menu {
	-fx-height:12px;
	-fx-border-color: -menu-border;
	-fx-border-width: 0px 1px 1px 1px;
	-fx-border-style:solid outside;
}

.padded {
	-fx-padding: 10 10 10 10;
}

.button {
	-fx-border-width: 1;
	-fx-border-color: -border;
	-fx-border-radius: .2em;
	-fx-padding: 1em;
	-fx-background-color: -offset-back;
}

.instance-selector {
	-fx-border-width: 0.5px 0;
	-fx-border-color: -border;
	-fx-background-color: -back;
}

.instance-icon {
	-fx-border-width: 1px;
	-fx-border-radius: 1em;
	-fx-background-radius: 1em;
	-fx-border-color: -border;
}

.selected {
	-fx-background-color: -selected-back;
}

.selected > * {
	-selected-back: rgba(0, 0, 0, 0);
}

.custom-web-view.instance-icon, .web-view.instance-icon, .custom-web-view.instance-selector, .web-view.instance-selector {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 0;
	-fx-border-width: 0;
}