
.filler {
    -fx-background-color: linear-gradient(to bottom, -filler-start, -filler-end);
}

.no-head .column-header{
	-fx-size: 1;
}

.table-row-cell:selected, .table-row-cell:odd:selected{
	-fx-background-color: -selected-back;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view {
    -fx-background-color:transparent;
}

.table-view:focused{
    -fx-background-color:transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, -filler-start, -filler-end);
}
.table-view .column-header-background .label{
     -fx-background-color: transparent;
 }

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header:last-of-type {
    -fx-border-thickness: 0px 0px 0px 0px;
}

.table-row-cell:even, .table-row-cell:odd {
    -fx-background-color: -cell-back;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.0em;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -border-cell;
}

.table-row-cell:selected, .table-row-cell:odd:selected {
	-fx-background-color: -selected-back;
}

.corner{
    -fx-background-color: -corner;
}

.cell {
	-fx-border-width: 0;
}